/*Post Box CSS*/
.postBox
{
    background-color: black;
    padding: 10px;
    margin: 100px;
    border-radius: 20px;
    max-width: 500px;
    margin: auto;
}
/*Search Box CSS*/
.searchBox
{
    background-color: black;
    padding: 10px;
    margin: 100px;
    border-radius: 20px;
    max-width: 500px;
    margin: auto;
}